In [4]:
import numpy as np
array_1d = np.array([9,6,3,2,1,5]) 
print(array_1d)
print(type(array_1d))

[9 6 3 2 1 5]
<class 'numpy.ndarray'>

In [2]:
import numpy as np
array_2d = np.array([[4,5,6], [9, 5, 7]]) 
print(array_2d)
print(type(array_2d))

[[4 5 6]
 [9 5 7]]
<class 'numpy.ndarray'>

In [5]:
import numpy as np
list_1 = [8, 4, 7, 2]
list_2 = [4, 7, 1, 6]

product_list = list(map(lambda x, y: x*y, list_1, list_2))
print(product_list)

[32, 28, 7, 12]

In [7]:
import numpy as np
array_1 = np.array(list_1)
array_2 = np.array(list_2)

array_3 = array_1*array_2 
print(array_3)
print(type(array_3))

[32 28  7 12]
<class 'numpy.ndarray'>

In [11]:
import numpy as np
# Square a list
list_1 = [1, 5, 9, 5]
list_squared = [i**2 for i in list_1]

# Square a numpy array
array_1 = np.array(list_1) 
array_squared = array_1**2

print(list_squared) 
print(array_squared)

[1, 25, 81, 25]
[ 1 25 81 25]

In [12]:
# Convert lists or tuples to arrays using np.array()
# Note that np.array(2, 5, 6, 7) will throw an error - you need to pass a list or a tuple
array_from_list = np.array([4, 5, 8, 9])
array_from_tuple = np.array((2,5,7,4))

print(array_from_list)
print(array_from_tuple)

[4 5 8 9]
[2 5 7 4]

In [16]:
import numpy as np
#FUNCTIONS USED TO INITIALIZE ARRAYS IN NUMPY
array=np.ones((3,7)) # CREATES ARRAY WITH ELEMENTS (1)
print(array)
array_2=np.random.random([3,3]) # CREATES ARRAY WITH ELEMENTS (0 TO 1)
print(array_2)
array_3=np.arange(1,102,10) # CREATES ARRAY WITH ELEMENTS (FROM 1 TO 100 (101 EXCLUDEDprint(array_3)
array_4=np.linspace(10,16,25) # CREATES ARRAY WITH ELEMENTS (FROM 1 TO 14 25 ELEMENTS print(array_4)
array_5=np.full((3,3),20)# CREATES ARRAY WITH ELEMENTS (20 ONLY)
print(array_5)
array_6=np.array([1,2,3]) # REPEATS ARRAY 2 TIMES AND CREATES A 1D ARRAY
print(np.tile(array_6,2))
print(np.eye(3)) # CREATES IDENTITY MATRIX WITH SIZE = 3
print(np.random.randint(1,11,(3,3)))

[[1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1.]]
[[0.66735954 0.15816183 0.13553926]
 [0.74293142 0.76734994 0.67314937]
 [0.26797302 0.63747171 0.82161284]]
[[20 20 20]
 [20 20 20]
 [20 20 20]]
[1 2 3 1 2 3]
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
[[ 8 10 10]
 [ 4  8  3]
 [ 7  5  3]]

In [17]:
# Initialising a random 1000 x 300 array 
rand_array = np.random.random((1000, 300)) 
# Inspecting shape, dtype, ndim and itemsize
print("Shape: {}".format(rand_array.shape)) 
print("dtype: {}".format(rand_array.dtype))
print("Dimensions: {}".format(rand_array.ndim))
print("Item size: {}".format(rand_array.itemsize))

Shape: (1000, 300)
dtype: float64
Dimensions: 2
Item size: 8

In [18]:
array_1d = np.arange(1,21)
# fifth element
print(array_1d[5])
# Specific elements
# Notice that array[4, 7, 8] will throw an error, you need to provide the indices as aprint(array_1d[[2, 5, 6]])
# Slice third element onwards
print(array_1d[5:])
# Slice first three elements
print(array_1d[:9])
# Slice third to seventh elements
print(array_1d[1:11])
# Subset starting 0 at increment of 2

print(array_1d[0::2])

6
[ 6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
[1 2 3 4 5 6 7 8 9]
[ 2  3  4  5  6  7  8  9 10 11]
[ 1  3  5  7  9 11 13 15 17 19]

In [19]:
# Creating a 2-D array
array_2d = np.array([[2, 5, 7, 5], [5,7,9,2], [18,15,16,19]])
# Third row second column 
print(array_2d[2, 1])
# Slicing the second row, and all columns
# Notice that the resultant is itself a 1-D array
print(array_2d[1, :])
# Slicing all rows and the third column 
print(array_2d[:, 2])
# Slicing all rows and the first three columns
print(array_2d[:, :3])

15
[5 7 9 2]
[ 7  9 16]
[[ 2  5  7]
 [ 5  7  9]
 [18 15 16]]

In [21]:
for row in array_2d:
    print(row)

[2 5 7 5]
[5 7 9 2]
[18 15 16 19]

In [30]:
## Comparing time taken for computation 
list_1 = [i for i in range(1000000)]
list_2 = [j**2 for j in range(1000000)]

# list multiplication 
import time

# store start time, time after computation, and take the difference 
t0 = time.time()
product_list = list(map(lambda x, y: x*y, list_1, list_2))
t1 = time.time()
list_time = t1 - t0 
print(t1-t0)
# numpy array
array_1 = np.array(list_1) 
array_2 = np.array(list_2)
t0 = time.time()
array_3 = array_1*array_2 
t1 = time.time()
numpy_time = t1 - t0 
print(t1-t0)
print("The ratio of time taken is {}".format(list_time/numpy_time))

0.2912166118621826
0.005030155181884766
The ratio of time taken is 57.894160583941606

In [31]:
import numpy as np
# Reshape a 1-D array to a 3 x 4 array 
some_array = np.arange(0, 12).reshape(3, 4) 
print(some_array)


#creating two arrays

array_1 = np.arange(12).reshape(3, 4) 
array_2 = np.arange(20).reshape(5, 4)
print(array_1)
print("\n")
print(array_2) # vstack
# Note that np.vstack(a, b) throws an error - you need to pass the arrays as a list
np.vstack((array_1, array_2))

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]


[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]]

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [32]:
# Basic mathematical operations 
a = np.arange(1, 20)
# sin, cos, exp, log 
print(np.sin(a))
print(np.cos(a))
print(np.exp(a))
print(np.log(a))

[ 0.84147098  0.90929743  0.14112001 -0.7568025  -0.95892427 -0.2794155
  0.6569866   0.98935825  0.41211849 -0.54402111 -0.99999021 -0.53657292
  0.42016704  0.99060736  0.65028784 -0.28790332 -0.96139749 -0.75098725
  0.14987721]
[ 0.54030231 -0.41614684 -0.9899925  -0.65364362  0.28366219  0.96017029
  0.75390225 -0.14550003 -0.91113026 -0.83907153  0.0044257   0.84385396
  0.90744678  0.13673722 -0.75968791 -0.95765948 -0.27516334  0.66031671
  0.98870462]
[2.71828183e+00 7.38905610e+00 2.00855369e+01 5.45981500e+01
 1.48413159e+02 4.03428793e+02 1.09663316e+03 2.98095799e+03
 8.10308393e+03 2.20264658e+04 5.98741417e+04 1.62754791e+05
 4.42413392e+05 1.20260428e+06 3.26901737e+06 8.88611052e+06
 2.41549528e+07 6.56599691e+07 1.78482301e+08]
[0.         0.69314718 1.09861229 1.38629436 1.60943791 1.79175947
 1.94591015 2.07944154 2.19722458 2.30258509 2.39789527 2.48490665
 2.56494936 2.63905733 2.7080502  2.77258872 2.83321334 2.89037176
 2.94443898]

In [33]:
# # Basic mathematical operations
a = np.arange(1, 20)
print(a)
# The non-numpy way, not recommended
a_list = [x/(x+1) for x in a]
print(a_list)
# The numpy way: vectorize the function, then apply it
f = np.vectorize(lambda x: x/(x+1))
print(f(a))
# Apply function on a 2-d array: Applied to each element
b = np.linspace(1, 100, 10)
print(f(b))

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
[np.float64(0.5), np.float64(0.6666666666666666), np.float64(0.75), np.float64(0.8), np.float64(0.8333333333333334), np.float64(0.8571428571428571), np.float64(0.875), np.float64(0.8888888888888888), np.float64(0.9), np.float64(0.9090909090909091), np.float64(0.9166666666666666), np.float64(0.9230769230769231), np.float64(0.9285714285714286), np.float64(0.9333333333333333), np.float64(0.9375), np.float64(0.9411764705882353), np.float64(0.9444444444444444), np.float64(0.9473684210526315), np.float64(0.95)]
[0.5        0.66666667 0.75       0.8        0.83333333 0.85714286
 0.875      0.88888889 0.9        0.90909091 0.91666667 0.92307692
 0.92857143 0.93333333 0.9375     0.94117647 0.94444444 0.94736842
 0.95      ]
[0.5        0.92307692 0.95833333 0.97142857 0.97826087 0.98245614
 0.98529412 0.98734177 0.98888889 0.99009901]

In [36]:
# Creating arrays
a = np.arange(1, 10).reshape(3, 3)
b= np.arange(1, 13).reshape(3, 4) 
print(a)
print(b) # Inverse
print(np.linalg.inv(a)) # Determinant
print(np.linalg.det(a))
# Eigenvalues and eigenvectors 
print(np.linalg.eig(a))
# Multiply matrices
print(np.dot(a, b))

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
[[ 3.15251974e+15 -6.30503948e+15  3.15251974e+15]
 [-6.30503948e+15  1.26100790e+16 -6.30503948e+15]
 [ 3.15251974e+15 -6.30503948e+15  3.15251974e+15]]
-9.51619735392994e-16
EigResult(eigenvalues=array([ 1.61168440e+01, -1.11684397e+00, -3.38433605e-16]), eigenvectors=array([[-0.23197069, -0.78583024,  0.40824829],
       [-0.52532209, -0.08675134, -0.81649658],
       [-0.8186735 ,  0.61232756,  0.40824829]]))
[[ 38  44  50  56]
 [ 83  98 113 128]
 [128 152 176 200]]

In [38]:
#Pandas
import pandas as pd
import numpy as np

# Creating a numeric pandas series
s = pd.Series([6,8,3,9,2])
print(s)
print(type(s))

0    6
1    8
2    3
3    9
4    2
dtype: int64
<class 'pandas.core.series.Series'>

In [39]:
# Explicitly Specifying Indices
pd.Series(np.array(range(0,10))**2, index = range(0,10))

0     0
1     1
2     4
3     9
4    16
5    25
6    36
7    49
8    64
9    81
dtype: int64

In [53]:
df = pd.DataFrame({'name': ['krishna', 'mansi', 'Parinith', 'Rakshita'], 'age': [22, 25, 24, 28],
'occupation': ['engineer', 'doctor', 'data analyst',
'teacher']})
df

       name  age    occupation
0   krishna   22      engineer
1     mansi   25        doctor
2  Parinith   24  data analyst
3  Rakshita   28       teacher

In [52]:
market_df = pd.read_csv("book1.csv")
market_df.head() #head() gives first five rows of dataset.

      Name Branch Year  Roll.no Section
0      NaN    NaN  NaN      NaN     NaN
1  Krishna   Aiml  2nd     12.0       A
2    Mansi   Aiml  2nd     13.0       B

In [67]:
import pandas as pd

# DataFrames with same columns
df1 = pd.DataFrame({
    'Name': ['Aman', 'Joy', 'Rashmi', 'Saif'],
    'Age': ['34', '31', '22', '33'],
    'Gender': ['M', 'M', 'F', 'M']
})

df2 = pd.DataFrame({
    'Name': ['Akhil', 'Asha', 'Preeti'],
    'Age': ['31', '22', '23'],
    'Gender': ['M', 'F', 'F']
})

# Concatenate row-wise
combined_rows = pd.concat([df1, df2], axis=0)
print(combined_rows)

     Name Age Gender
0    Aman  34      M
1     Joy  31      M
2  Rashmi  22      F
3    Saif  33      M
0   Akhil  31      M
1    Asha  22      F
2  Preeti  23      F

In [66]:
import pandas as pd

# IPL 2018 stats
IPL_2018 = pd.DataFrame({
    'IPL Team': ['CSK', 'SRH', 'KKR', 'RR', 'MI', 'RCB', 'KXIP'],
    'Matches Played': [16, 17, 16, 15, 14, 14, 14],
    'Matches Won': [11, 10, 9, 7, 6, 6, 6]
})
IPL_2018.set_index('IPL Team', inplace=True)

# IPL 2017 stats
IPL_2017 = pd.DataFrame({
    'IPL Team': ['MI', 'RPS', 'KKR', 'SRH', 'KXIP', 'DD'],
    'Matches Played': [17, 16, 16, 15, 14, 14],
    'Matches Won': [12, 10, 9, 8, 7, 6]
})
IPL_2017.set_index('IPL Team', inplace=True)

# Combine stats using addition
Total = IPL_2018.add(IPL_2017, fill_value=0)
print(Total)

          Matches Played  Matches Won
IPL Team
CSK                 16.0         11.0
DD                  14.0          6.0
KKR                 32.0         18.0
KXIP                28.0         13.0
MI                  31.0         18.0
RCB                 14.0          6.0
RPS                 16.0         10.0
RR                  15.0          7.0
SRH                 32.0         18.0